doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='doc/css/style.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        title Document
    body
        #app
            #listClock
                #todolist.todolistDiv
                    .addArea
                        input.ipt(type='text', v-model='inputVaule', v-on='add' placeholder="ADD A NEW MISSION")
                        i.material-icons.add(v-on:click='add') add
                    .task
                        li(v-for='(item, index) in items')
                            label.container(:for="gernerateId(index)" v-bind:class='{ complete:item.completed }') {{item.text}}
                                input(:id="gernerateId(index)" type='radio', v-model='item.completed')
                                span.checkmark(v-on:click='removeTodo(item)')
                            i.material-icons(:class='{ breakTime_color: breakStatus }' ) play_circle_outline

                #pomodoroClock
                    .container.BreakTime
                        //- h2.title {{ title }}
                        .timer(:class='{ breakTime_color: breakStatus }' )
                            span {{ minutes }}
                            span :
                            span {{ seconds }}
                        .countArea(:class='{ breakTime_bg: breakStatus }' )
                            #buttons
                                button#start(v-if="!timer" @click='startTimer')
                                    i.material-icons play_circle_outline
                                button#stop(v-if="timer" @click='stopTimer')
                                    i.material-icons pause_circle_outline
                                button#reset(v-if="resetButton" @click='resetTimer')
                                    i.material-icons autorenew
            #functionchange
                .functionList
                    i.material-icons list
                    i.material-icons assessment
                    i.material-icons library_music
                .productName POMODORO
        script(src='https://cdn.jsdelivr.net/npm/vue')
        script(src='doc/script.js')