@import url('https://fonts.googleapis.com/css?family=Quicksand');
$font: 'Quicksand',
bold;
$color_mazarine: #273c75;
$color_electro: #2f3640;
$color_white: #d1d8e0;
$color_red: #b33939;

body {
    height: 100%;
    background-attachment: fixed;
    // background-color: $color_electro;
    color: $color_white;
    font-family: $font;
    margin: 0;
    text-align: center;
}

#pomodoroClock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-red;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 30%;
    padding: 1%;
}

.controls {
    margin-top: 5%;
    font-size: 1em;

    button {
        color: $color_white;
        background: none;
        border: 0;
        outline: 0;

        :hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

#buttons {
    button {
        border: 0;
        outline: 0;
        font-size: 3em;
        background: transparent;
        color: $color_white;

        :hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.timer {
    font-size: 6em;
}

.statistics {
    margin-top: 2%;
}

.list-button {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
    color: $color_white;
    background: transparent;
    border: 0;
    outline: 0;

    :hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.list {
    display: inline-block;
    padding: .5em;
    margin: 1em;
    //background: black;
    border: 1px dotted $color_white;

    //box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    li {
        display: block;
    }
}

.list_input {
    display: flex;
    margin-bottom: 0.5em;

    input {
        width: 100%;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: all 1s ease-out;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}